bin/
obj/
packages/
riderModule.iml
_ReSharper.Caches/
.idea
.git/

OsuDroid/bin
OsuDroid/obj
OsuDroid/Properties
OsuDroid/avatar
OsuDroid/upload
OsuDroid/appsettings.json
OsuDroid/appsettings.Development.json

OsuDroidExtraInterface/bin
OsuDroidExtraInterface/obj

OsuDroidLib/bin
OsuDroidLib/obj

OsuDroidServiceCleaner/bin
OsuDroidServiceCleaner/obj
OsuDroidServiceCleaner/appsettings.json
OsuDroidServiceCleaner/appsettings.Development.json

OsuDroidServiceRankingTimeline/bin
OsuDroidServiceRankingTimeline/obj
OsuDroidServiceRankingTimeline/appsettings.json
OsuDroidServiceRankingTimeline/appsettings.Development.json

OsuiDroidServicePatreon/bin
OsuiDroidServicePatreon/obj
OsuiDroidServicePatreon/appsettings.json
OsuiDroidServicePatreon/appsettings.Development.json

Patreon.NET/bin
Patreon.NET/obj

docker-compose.yml
Dockerfile
global.json
nginx-conf

.idea
